body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    font-family: Arial, sans-serif;
    background: linear-gradient(270deg, #fcb69f, #ffeb3b, #8ec5fc, #e0c3fc);
    background-size: 800% 800%;
    animation: moveBackground 20s ease infinite;
}

@keyframes moveBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 30px;
    margin-top: 30px;
}

.container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 60%;
}

.video-container {
    width: 100%;
    max-width: 300px;
    margin: 20px;
}

.song-gif {
    width: 100%;
}

.form-container {
    flex: 1;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.form-group label {
    font-size: 1.3rem;
}

.form-group {
    margin-bottom: 20px;
}

.submit-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}